

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    width: 100%;
    background-color: aqua;
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 30px 10px 30px;
}

.toolbar__ul{
     
    display:inline;
}

li:first-child{
    color: blue;
}

li:last-child{

    color: blueviolet;
}




li{
    background-color: rgb(218, 255, 221);
    text-decoration: none;
    list-style: none;
}
.content{
    padding: 30px;
}

.input_email{
    width: 350px;
    height: 2rem;
    padding-left: 15px;
    border-radius: 6px;
    border-color: aqua;
}

.input_email::marker{
    border-color: blueviolet;
}

input:disabled{
    background: #ccc;
}

.input_email[type=email]:invalid {
    border-color: red;
}


.input_email:required{
    background: orange;
}

input::placeholder{
    color: rgb(193, 58, 255);
}
